<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Creating Billing Slip Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
	<servlet>
        <servlet-name>billGeneration</servlet-name>
        <servlet-class>com.capgemini.billing.CreateBill</servlet-class>
        <init-param>
        	<param-name>data</param-name>
    		<param-value>Yanshu</param-value>
        </init-param>
    </servlet>    
    <servlet-mapping>
        <servlet-name>billGeneration</servlet-name>
        <url-pattern>/generate</url-pattern>
    </servlet-mapping> 
    <servlet>
        <servlet-name>billGenerated</servlet-name>
        <servlet-class>com.capgemini.billing.Success</servlet-class>
        <init-param>
        	<param-name>data</param-name>
    		<param-value>Yanshu</param-value>
        </init-param>
    </servlet>
	<servlet-mapping>
        <servlet-name>billGenerated</servlet-name>
        <url-pattern>/generated</url-pattern>
    </servlet-mapping>
    <context-param>
    	<param-name>data</param-name>
    	<param-value>Yanshu</param-value>
    </context-param>
</web-app>